*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}
body {
    height:100vh;
    width: 100vw;
    background-color: rgb(249, 252, 255);
    font-family: sans-serif;
    text-align: center;
      
}
.header__base{ /*header padre*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 5px;
    padding-left: 5px;
    background: #725436;

}

.linksOrg{ 
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: white;
}

.linkDos{ 
    color: black;
}

* {
    margin: 0;
    padding: 0;
    
    }

h1{
    text-align: center;
    font-size:3.0rem;
   } 
    
.container {
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    
.items {
    flex: 1;
    padding: 50px;
    }

.form-control{
    border: 2.5px solid rgb(0, 0, 0);
    border-radius: 5px 5px;    
}

.form-boton{
    background-color: rgb(28, 89, 124);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }


input {
    margin: 10px 10px 10px;
    }

.mostrarDatos {
    color: black;
    font-size:1.8rem;
    padding-top: 10px;
    padding-bottom: 10px;
    font-style: normal;
    font-weight: bold;
    }
    

.card{
    background-color:rgb(189, 180, 180);
    padding: 1rem ; 
}

/* SWEET ALERT CSS */

  button {
    background-color: rgb(28, 89, 124);
    color: whitesmoke;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 7px;
    padding: 15px 35px;
    cursor: pointer;
    white-space: nowrap;
    margin: 10px;
  }
  h1 {
    border-bottom: solid 2px grey;
  }
  #success {
    background: green;
  }


  /* PRO */

 
  #profesionales {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: space-between;
  }
  
  #profesionales li {
    border: 1px solid #f1f1f1;
    list-style-type: none;
    background-color: #fff;
    padding: 1rem 2rem;
    border-radius: 3%;
    border: 1px solid #ccc;
    margin: .5rem;
    width: 100px;
  }